[Desktop Entry]
Categories=AudioVideo;Player;TV;
Exec={{exec}}
Name=Emby Theater
StartupWMClass=emby-theater
Terminal=false
Type=Application
Icon={{icon}}
Comment={{comment}}
Keywords=emby;media;tv;streaming;
